.form-container {
  position: fixed;
  bottom: 250px;
  right: 380px;

  padding: 1.2rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
  height: 40vh;
  width: 35vw;
}

.form-container.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.form-header {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 500;
  width: 30%;
  margin-right: 0.2rem;
}

.form-input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 70%;
}

.color-options {
  display: flex;
  gap: 0.8rem;
  width: 70%;
  justify-content: flex-start;
  margin-left: 0.5rem;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.form-submit-button {
  display: flex;
  justify-content: flex-end;
}
.form-submit-button button {
  width: 30%;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form-container {
    left: 50px;
    bottom: 200px;
    width: 80vw;
  }

  .form-header {
    font-size: 1rem;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-input {
    font-size: 0.8rem;
  }

  .form-submit-button {
    font-size: 1rem;
  }
  .color-options {
    gap: 0.4rem;
  }
}
