* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.page1-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.left-container {
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 2rem;
  height: 10vh;
  font-weight: 500;
}

.create-button-wrapper {
  display: flex;
  justify-content: space-around;
}

.create-button {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.right-container {
  height: 100vh;
  width: 75vw;
  background-color: #f7ecdc;
}
.right-default-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-placeholder {
  display: flex;
  justify-content: center;
}

.description {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}
.back-button {
  display: none;
}

@media (max-width: 768px) {
  .left-container {
    width: 100vw;
  }
  .right-container {
    width: 100vw;
  }
  .back-button {
    display: block;

    padding: 0.5rem 1rem 0.5rem 0rem;
    background-color: #e8e8e8;
    border: none;

    cursor: pointer;
  }
}
